@charset "UTF-8";
/* CSS Document */

@font-face {
    font-family: 'GillSansMTRegular';
    src: url('gill_sans_mt-webfont.eot');
    src: url('gill_sans_mt-webfont.eot?#iefix') format('embedded-opentype'),
         url('gill_sans_mt-webfont.woff') format('woff'),
         url('gill_sans_mt-webfont.ttf') format('truetype'),
         url('gill_sans_mt-webfont.svg#GillSansMTRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

*
{
padding:0;
margin:0;
}

h3{color:#F95808; font-weight:bold;}
#tittles{font-size:22px; text-align:left; color:#007AA9; font-family:'GillSansMTRegular';}
#txt{font-size:12px; text-align:left; color:#007AA9; font-family:'GillSansMTRegular'; text-align:justify;}

.maincont
{
	position:relative;
	margin:60px auto;
	width:800px;
	height:500px;
	background:url(imgs/contbk.png);
}

.cont
{
	margin:15px 0px 0px 40px;
	position:absolute;
	width:720px;
	height:470px;
	background:none;
}

ul, ol {
    margin-left 0;
}

ul ul {
    margin-bottom: 20px;
}

#wrap {
    color: #404040;
    /*margin: 0 12%;*/
    margin: 100px 0px 0px 10px;
}

a {
    color: #4088b8;
}

table {
    font-size: inherit;
    border: 1px solid #c8c8c8;
}

th {
    background: #d8d8d8;
    text-align: left;
    padding: 5px;
    white-space: nowrap;
}

td {
    background: #f8f8f8;
    text-align: left;
    padding: 5px;
    vertical-align: top;
}

select, input, textarea {
    font: 99% "Trebuchet MS", Trebuchet, Tahoma, Verdana, Arial, sans-serif;
}

pre, code, tt, dt {
    font: 100% monospace;
    margin: 20px 0;
}

pre, blockquote {
    padding: 15px;
    background-color: #f0f0f0;
    margin: 20px 0;
    -moz-border-radius: 10px;
}

td pre {
    font: 85% monospace;
    padding: 5px;
    margin: 5px 0;
}